<div class="row">

  <div class="col-xs-12 text-center">
    <h1>Meus Contatos</h1>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOME</th>
          <th>TELEFONE</th>
          <th colspan="3">
            AÇÕES
            <%= link_to 'Novo Contato', new_contact_path, method: :get, class:"btn btn-success" %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% if @contacts.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <h3>Sem contatos cadastrados</h3>
              <%= link_to 'clique aqui', new_contact_path%> para cadastrar um novo contato
            </td>
          </tr>
        <% end %>
        <% @contacts.each do |c| %>
          <tr>
            <td><%= c.id %></td>
            <td><%= c.name %></td>
            <td><%= c.phone %></td>
            <td><%= button_to 'Exibir', c, method: :get, class: 'btn btn-primary btn-sm' %></td>
            <td><%= button_to 'Editar', edit_contact_path(c), method: :get, class: 'btn btn-warning btn-sm' %></td>
            <td><%= button_to 'Excluir', contact_path(c), method: :delete, data: { confirm: "Confirma EXCLUIR contato: #{c.name}?" }, class: 'btn btn-danger btn-sm'  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    </div>
</div>